main {
  display: grid;
  justify-content: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#enter {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  background-color: Transparent;
  color: #33b5e5;
  border: 2px solid #33b5e5;
  z-index: 100;
  margin-top: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  will-change: contents, height, width, position;
}

#enter:hover {
  color: #8cdcfa;
  border: 2px solid #8cdcfa;
}